{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{url_for("static", filename="auth.css")}}"> {% endblock css %}

{% block content %}
  <div class="container">
    <div class="box">
      <form class="form" method="POST">
        <h2>Sign up</h2>
        <div class="inputBox">
          <input type="text" required="required" name="username" />
          <span>Username</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" name="confirm_password" />
          <span>Confirm Password</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" name="password" />
          <span>Password</span>
          <i></i>
        </div>
        <div class="links">
          <a href={{url_for("auth.login")}}>Sign in</a>
        </div>
        <input type="submit" value="signup" />
      </form>
    </div>  
  </div>
{% endblock %} 
