<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<style>
    *{
        background-color:yellow;
        color:white;
    }
    .home-nav {
  position: relative;
  background-color:white;
  z-index: 1;
}
.home-nav a {
  text-decoration: none;
}
.home-nav ul {
  list-style: none;
  float: right;
}
.home-nav li {
  display: inline;
  margin: 1rem;
  color: black;
  font-size: 20px;
}
</style>
<body>
    <nav class="home-nav">
        <ul>
          <a href="/about"><li>About</li></a>
          <a href="/signup "><li>Sign up</li></a>
          <a href="/signin"><li>Sign in</li></a>
        </ul>
    </nav>
    <h1>Hello,Welcome!!</h1>
</body>
</html>